.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 200px;
}

.about img {
    width: 35%;
    height: auto;
}

.about h3 {
    margin-top: 30px;
    font-weight: 300;
}

.about h1 {
    margin-top: 40px;
    text-align: center;
    color: rgb(191, 183, 70);
    font-family: 'Varela Round', sans-serif;
}

.about h4 {
    width: 50%;
    text-align: justify;
    background-color: rgb(201, 212, 246);
    margin-top: 40px;
    padding: 20px 50px;
    border-left: 4px solid blue;
    font-family: sans-serif;
    color: #333;
}

.about h5 {
    margin-top: 40px;
    font-size: 18px;
    color: #333;
}

.about p {
    margin-top: 10px;
    width: 50%;
    text-align: justify;
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
    text-align: justify;
    line-height: 24px;

}

.about p::first-letter{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
}