.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    background-image: linear-gradient(rgba(224, 228, 226, 0.8),
            rgba(214, 238, 255, 0.7)), url(../../assates/login-img2.jpg);
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm label {
    margin: 10px 0;    
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 3px;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 6px;
}

.loginRegisterButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;

}